@import url("./mixin.css");

.input {
  --checkbox-radius: 2px;

  background-color: transparent;
  background: linear-gradient(180deg, #625ff4 0%, #625ff8 100%);

  transition: none;

  @mixin light {
    --_checkbox-bg: var(--gradient-radial);
    --_checkbox-bd-color: none;
  }

  &[data-indeterminate],
  &:checked {
    box-shadow: 0px 2px 16px rgba(98, 95, 244, 0.64);

    [data-mantine-color-scheme] & {
      --_checkbox-bg: var(--color-blue);
      --_checkbox-bd-color: none;

      & + .icon {
        --_checkbox-icon-opacity: 1;
        --_checkbox-icon-transform: none;
      }
    }
  }

  &:focus-visible {
    outline: none;
    outline-offset: 0;
  }
}
