.icon-container {
  padding: 7px;
  border: var(--border1);
  border-radius: 8px;
  background-color: var(--color-black);
  height: 65px;
}

.headerTitle {
  font-size: 54px;
  font-weight: 600;
  color: white;
}

.headerDescription {
  font-size: 20px;
  line-height: var(--text-2-lh);
  font-weight: var(--font-weight-regular);
  color: var(--color-grey);
  font-family: "ProximaNova";
}
.header-flex > div > div {
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c0d10;
}
@media (max-width: 1200px) {
  .header-flex {
    grid-gap: 1rem;
    width: 100% !important;
  }
  .header-flex > div > div {
    width: 38px;
    height: 38px;
  }
  .headerTitle {
    font-size: 32px !important;
  }
  .headerTitle {
    font-size: 40px;
  }
  .icon-container {
    padding: 0;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
  }
  .headerDescription {
    font-size: 1rem;
  }
}

@media (max-width: 440px) {
  .headerTitle {
    font-size: 2rem;
  }
}
