@import url("@/app/styles/mixin.css");

.coinsContainer {
  height: 383px;
}
.searchInput {
  padding: 16px 16px 16px 43px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  border-radius: 4px;
  height: 100%;
  font-family: "ProximaNova";
  font-size: 14px;
  &::placeholder {
    color: var(--color-grey) !important;
    font-size: var(--text-5-fz) !important;
  }
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  div {
    flex-grow: 1;
  }
}

.searchInputWrapper {
  flex-shrink: 0;
}
.searchInputSection {
  padding: 16px 0 16px 16px;
}

.closeSearchWndowIcon {
  margin-left: 30px;
}

.closeSearchWndowIcon:hover,
.closeSearchWndowIcon:active {
  background-color: unset;
  color: inherit;
}

.dropdown {
  background-color: transparent !important;
  padding: 0;
  border: none;
}
.target {
  svg {
    path {
      fill: var(--color-blue);
    }
  }
}

@media (max-width: 1380px) {
  .target {
    width: 2rem;
    height: 2rem;
    padding: 0 !important;
  }
  .coinsContainer {
    width: 100%;
    height: 100%;
    max-width: 300px !important;
  }
  .coinsContainer > div {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .coinsContainer {
    height: 500px;
    max-width: 100% !important;
  }

  .dropdown {
    position: fixed;
    left: 13px !important;
    top: 15% !important;
    width: 95% !important;
    box-shadow: 10px 10px 98px 57px rgba(12, 13, 16, 0.8);
  }
}
