.wrapper {
  flex: 1;
  padding: var(--adaptive-section-py) 0;
  position: relative;
}

.container {
  width: 1340px;
  margin: 0 auto;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.col {
  display: flex;
}
.rate-link {
  text-decoration: none;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rate-wrap {
  width: 100%;
}

.trade-results {
  padding: 96px 0;
}

.tradingTitle {
  z-index: 10;
  font-weight: 700 !important;
  text-align: center;
  font-size: 54px;
}

.tradingTitleColored {
  font-size: inherit !important;
  font-style: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  background: var(--gradient-linear);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 12px;
}

.light-four {
  top: 0;
  left: 0;
  width: auto;
  z-index: -1;
  position: absolute;
  transform: translate(0, -15%);
}

@media screen and (max-width: 1200px) {
  .col {
    --col-max-width: 25% !important;
  }
  .tradingResultsWrapper {
    gap: 12px;

    .tradingResult {
      flex-basis: 49%;
    }
  }
}

@media screen and (max-width: 48em) {
  .col {
    --col-max-width: 50% !important;
  }

  .tradingTitle {
    font-size: 35px;
    line-height: 42px;
  }
}

@media screen and (max-width: 400px) {
  .col {
    --col-max-width: 100% !important;
  }
}

.tradingResultsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
  gap: 16px;
  overflow-x: auto;
  height: 100%;

  .tradingResult {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    flex-basis: 24%;
    height: 100%;
    flex: 1;
  }
}

@media screen and (min-width: 1201px) {
  .tradingResultsWrapper {
    gap: 10px;
  }
}

@media screen and (max-width: 45em) {
  .tradingResultsWrapper {
    flex-wrap: nowrap;

    .tradingResult {
      flex-shrink: 0;
      flex-basis: 100%;
    }
  }

  .indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }

  .indicator {
    width: 20px;
    height: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .indicator.active {
    background-color: var(--color-blue);
  }
}
