.title {
  font-size: 54px;
  font-weight: 600;
  color: white;
  line-height: 1.2;
  span {
    font-size: 54px;
    font-weight: 600;
    color: var(--color-blue);
    line-height: 1.2;
  }
}

.subTitle {
  color: var(--color-grey);
  font-size: 20px;
  font-family: "ProximaNova";
  width: 75%;
  line-height: 1.2;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1;
  width: max-content;
  min-width: 100%;
  background: linear-gradient(313deg, rgba(98, 95, 244, 0.2) 6.43%, rgba(12, 13, 16, 0.2) 99.25%);
  border-radius: 8px;
  border-left: 2px solid var(--Blue, #625ff4);
  padding: 16px 32px;
  padding-left: 30px;
}

.cardText {
  font-size: 16px;
  color: var(--color-grey);
  line-height: 1.2;
  font-family: "ProximaNova";
}
.cardValue {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: white;
  font-family: "ProximaNova";
}

.copyRefContainer {
  flex: 1 0;
}
.copyRefWrapper {
  padding: 11px 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.copyRefTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: white;
  font-family: "ProximaNova";
}

.refLink {
  width: 100%;
  input {
    all: unset;
    width: 100%;
    font-size: 16px;
    color: var(--color-blue);
    font-family: "ProximaNova";
  }
}

.btn {
  min-width: max-content;
  font-family: "ProximaNova";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  padding: 0 32px;
}

.box {
  padding: 64px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  background: #0c0d10;
}

.tableTitle {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.searchInputWrapper {
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  gap: 8px;
  align-items: center;
  width: 300px;
}
.searchInputSection {
  position: static;
  width: 19px;
  height: 19px;
  svg {
    width: 100%;
    height: 100%;
  }
}
.searchInput {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  height: 100%;
  min-height: 0;
  box-shadow: none;
  border-radius: 0;
  font-family: "ProximaNova";
  font-weight: 400;
}

.tableHeaderTr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.tableTh {
  color: var(--color-grey);
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  user-select: none;

  &:hover .tableHeadSortLabel {
    svg {
      path {
        fill: var(--color-blue);
      }
    }
  }
}

.tableHeadSortLabelSortingDesc {
  & svg {
    transform: rotate(180deg);
  }
}
.tableTd {
  color: white;
  padding: 32px 32px 16px;
}
.rates-divider-root {
  --divider-color: rgba(255, 255, 255, 0.12);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: var(--color-blue);
  svg {
    path {
      fill: white;
    }
  }
}

.accIDCol {
  font-weight: 600;
  font-size: 20px;
}
.greyText {
  color: var(--color-grey);
}

@media (max-width: 900px) {
  .content-flex {
    grid-gap: 1.5rem;
    flex-direction: column;
  }
  .subTitle {
    font-size: 1rem;
  }
  .title {
    font-size: 40px;
  }
  .title span {
    font-size: inherit;
  }
  .card-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cardWrapper {
    min-height: 102px;
    justify-content: center;
    width: auto;
  }
  .copyRefContainer {
    grid-gap: 8px;
  }
  .refRow {
    grid-gap: 0.75rem;
    flex-direction: column;
  }
  .copyRefTitle {
    font-size: 14px;
  }
  .copyRefContainer {
    width: 100%;
  }
  .box {
    padding: 2rem 1.25rem;
  }
  .table-header {
    grid-gap: 1rem;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1.5rem !important;
  }
  .table-header > * {
    width: 100%;
  }
  .searchInputWrapper {
    width: 100%;
  }
  .tableTh {
    padding: 1rem 0;
  }
  .tableTh span {
    font-size: 14px;
  }
  .tableTd {
    padding: 12px 0;
  }
  .tableTd p {
    font-size: 1rem !important;
  }
  table {
    min-width: 440px;
  }
  .scroll-container {
    overflow-x: scroll;
  }
}

@media (max-width: 400px) {
  .cardWrapper {
    padding: 1rem;
  }
}
