.tableContainer {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-right: 16px;
}

.tableContainer {
  width: 100%;
  overflow: auto;
}

.tableTh,
.tableTd {
  padding: 12px 16px;
}

.tableTHead {
  background-color: #1a1a1a;
}

.rowHover:hover {
  background-color: rgb(22, 23, 28);
  cursor: pointer;
}

.rowSelected {
  background-color: rgb(22, 23, 28);
}

.noSelect {
  user-select: none;
}

.tableTHead {
  background-color: var(--color-black);
}

.tableTh {
  font-family: "ProximaNova";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: var(--color-grey);
  padding: 0;
  padding-bottom: 16px;
}
.tableTd {
  font-family: "ProximaNova";
  font-size: 12px;
  line-height: 15px;
  color: white;
  padding: 5px 0 17px 0;
}

.tableFavoriteCellWrapper {
  display: flex;
  gap: 6px;
  align-items: center;
  p {
    line-height: 15px;
  }
}

@media (max-width: 1380px) {
  .tableFavoriteCellWrapper p {
    font-size: 1rem !important;
  }
}
