.analysisWrapper {
  flex: 1 1 48%;
  min-height: 400px;
  border: var(--border1);
  border-radius: 8px;
  background-color: var(--color-black);
  padding: 31px;
}

.analysisTitle {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-align: center;
  span {
    text-transform: uppercase;
    color: var(--color-blue);
  }
}

.periodButton {
  padding: 7px 24px;
  align-self: stretch;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--color-grey);
  font-family: "ProximaNova";
  font-size: 14px;
  cursor: pointer;
  &.active {
    border-color: var(--color-blue);
    color: var(--color-blue);
  }
}

@media (max-width: 1200px) {
  .analysisTitle {
    font-size: 20px !important;
  }
  .analysisHeader {
    font-size: 40px;
  }
  .analysisWrapper {
    padding: 1.25rem;
  }
  .periodButton {
    height: 24px;
    padding: 0 12px;
    font-size: 12px;
  }
  .periods {
    grid-gap: 8px;
  }
  .show-filter-wrapper {
    display: none;
  }
  .header-title {
    font-size: 40px;
  }
  .analysisWrapper [aria-haspopup="listbox"] {
    padding: 0 12px !important;
    min-height: 24px;
    min-width: auto;
  }
  .analysisWrapper {
    min-height: 312px;
  }
}

@media (max-width: 500px) {
  .analysisWrapper {
    width: 100%;
    min-height: 270px;
  }
}
