@import url("@/app/styles/mixin.css");

.light-one {
  top: 0;
  width: auto;
  right: 0;
  z-index: -1;
  position: absolute;
}

.light-two {
  top: 0;
  left: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-three {
  top: rem(200);
  right: rem(-150);
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-four {
  top: rem(500);
  left: rem(-100);
  width: auto;
  z-index: -1;
  position: absolute;
}
.light-five {
  top: rem(1500);
  right: rem(-50);
  width: auto;
  z-index: -1;
  position: absolute;
}
.light-six {
  bottom: rem(300);
  left: rem(-50);
  width: auto;
  z-index: -1;
  position: absolute;
}
.light-seven {
  right: 0px;
  width: auto;
  bottom: rem(0);
  z-index: -1;
  position: absolute;
}
