.wrapper {
  flex: 1;
  padding: var(--adaptive-section-py) 0;
  position: relative;
}

.mainButton {
  margin: 0 auto;
  width: 427px;
  height: 125px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  z-index: 9;
  position: relative;
  padding: 48px 96px;
}

.cube-two {
  width: 8%;
  left: -16%;
  position: absolute;
  top: 82%;
}

.light-cube-two {
  position: absolute;
  left: -16%;
  top: 53%;
  z-index: -1;
  width: 30%;
}

@media screen and (max-width: 1200px) {
  .cube-two {
    width: 10%;
    left: -3%;
    position: absolute;
    top: 80%;
  }

  .light-cube-two {
    top: 55%;
    left: -3%;
  }

  .mainButton {
    width: 344px;
    height: 92px;
    font-size: 18px;
  }
}

@media screen and (max-width: 45em) {
  .cube-two {
    width: 10%;
    left: -4%;
    position: absolute;
    top: 77%;
  }

  .light-cube-two {
    top: 56%;
    left: -4%;
  }
}

@media screen and (max-width: 490px) {
  .mainButton {
    margin-top: -100px;
  }

  .cube-two {
    width: 13%;
    left: -5%;
    position: absolute;
    top: 38%;
  }

  .light-cube-two {
    top: 8%;
    left: -5%;
    width: 59%;
  }
}
