.container {
  padding: 32px 31px;
  gap: 32px;
  border-radius: 8px;
  border: var(--border1);
  background-color: var(--color-black);
}

.passwordInput {
  padding-right: 80px !important;
}

.option {
  background: var(--color-black);
  line-height: rem(24px) !important;
  font-size: 16px;
  color: var(--color-grey);
  padding: 16px;
  height: 51px;
  background-color: #000;
  font-family: "ProximaNova";
  font-weight: 400;
}

.dropdown {
  background: var(--color-black);
  border: rem(1px) solid #ffffff1f;
  color: var(--color-white);
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: var(--text-btn-fz) !important;
  line-height: rem(28.8px) !important;
}

.title {
  font-weight: 600 !important;
}

.submitButton {
  width: fit-content;
}

.input {
  flex: 1 1 calc(50% - 8px);

  label {
    font-size: 14px;
    color: var(--color-grey);
    line-height: 1;
  }

  &.blueBorder {
    input {
      border-color: var(--color-blue);
    }

    button {
      border-color: var(--color-blue);
    }
  }

  &.greenBorder {
    input {
      border-color: var(--color-green);
    }
  }

  input {
    font-size: 16px;
    color: var(--color-grey);
    padding: 16px;
    height: 51px;
    background-color: #000;
    border-radius: 4px;
    border-left: 2px solid;
    font-family: "ProximaNova";
    font-weight: 400;

    &:focus {
      border-color: white;
      color: white;
    }

    &[data-error] {
      border-left: rem(2px) solid var(--color-red);
      color: var(--color-red) !important;
    }
  }

  button {
    font-size: 16px;
    color: var(--color-grey);
    padding: 16px;
    height: 51px;
    background-color: #000;
    border-radius: 4px;
    border-left: 2px solid;
    font-family: "ProximaNova";
    font-weight: 400;

    &:focus {
      border-color: white;
      color: white;
    }

    &[data-error] {
      border-left: rem(2px) solid var(--color-red);
      color: var(--color-red) !important;
    }
  }
}

.password {
  flex: 1 1 calc(50% - 8px);

  label {
    font-size: 14px;
    color: var(--color-grey);
    line-height: 1;
  }

  input {
    font-size: 16px;
    color: var(--color-grey);
    padding: 16px;
    height: 51px;
    background-color: #000;
    font-family: "ProximaNova";
    font-weight: 400;

    &:focus {
      border-color: white;
      color: white;
    }
  }

  &.blueBorder {
    input {
      border-color: var(--color-blue);
    }
  }
}

@media (max-width: 1400px) {
  .container {
    padding: 2rem 1.25rem;
    grid-gap: 1rem;
  }
}

@media (max-width: 400px) {
  .container input {
    padding: 1rem 0.75rem;
  }
}