@import url("@/app/styles/mixin.css");

.tableContainer {
  display: flex;
  width: 100%;
}

.scrollableTable {
  min-width: 100vw !important;
}

.fixedColumn {
  position: sticky;
  left: 0;
  z-index: 2;
  background: var(--color-black);
}

.tableCellHidden {
  display: none;
}

.table-tr {
  border: none;
}

.table-td {
  height: 1px;

  & svg {
    width: rem(22);
    height: rem(22);
  }
}

.first-td-wrapper {
  justify-content: flex-start;
  margin-left: 12px;
}

.table-head {
  --_table-border-color: rgba(255, 255, 255, 0.07) !important;
  & tr {
    height: 19px;
    border-bottom: var(--_tr-border-bottom);

    & th {
      color: var(--color-grey);
      padding: rem(16) 0;
    }
    &:first-child {
      & th {
        &:first-child {
          padding-left: rem(16);
        }
      }
    }
  }
}

.table-head-th-sortable {
  cursor: pointer;
}

.table-head-sort-label {
  user-select: none;
  & svg {
    @mixin transition;
    & path {
      @mixin transition;
    }
  }

  @mixin hover {
    & svg {
      & path {
        fill: var(--color-blue);
      }
    }
  }
}

.table-head-sort-label-sorting-desc {
  & svg {
    transform: rotate(180deg);
  }
}

.table-body {
  & tr {
    border: none;
    & td {
      border: none;
      height: rem(48);
      padding: rem(13) 0 rem(13) 0;
    }
    &:first-child {
      & td {
        padding-top: rem(21);
      }
    }
    &:last-child {
      & td {
        padding-bottom: 5px;
      }
    }
  }
}

.tbody-td-with-icon {
  & svg {
    width: rem(29);
    height: rem(29);
  }
}

.coin-short-name {
  --pill-height: rem(24);
  padding: rem(4) rem(12);
  background: var(--gradient-linear);
  border-radius: rem(3px);
}

.coin-short-name-label {
  @mixin text-5-full;
  font-size: 12px;
}

.coin-chart-wrapper {
  width: rem(124px);
  height: rem(48px);
  position: relative;
}

.grey-text {
  @mixin textGrey;
}

.coin-th {
  min-width: rem(300);
}

.chart-th {
  width: rem(100);
}

.buy-button {
  @mixin text-3-full var(--color-blue);
  @mixin transition;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  @mixin hover {
    text-shadow: 0px 2px 8px rgba(98, 95, 244, 0.64);
    text-decoration-color: var(--color-blue);
    -webkit-text-decoration-color: var(--color-blue);
    -moz-text-decoration-color: var(--color-blue);
  }
}

@media screen and (max-width: 1200px) {
  .fixedColumn {
    width: 34%;
  }

  .table-td:not(.fixedColumn) {
    position: relative;
    z-index: 1;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .table-head-th-sortable:not(.fixedColumn) {
    position: relative;
    z-index: 1;
    padding-left: 20px !important;
  }
}

@media screen and (max-width: 900px) {
  .fixedColumn {
    width: 43%;

    .coinFullName {
      font-size: 16px !important;
    }
  }
}
