@import url("@/app/styles/mixin.css");

.wrapper {
  margin-bottom: 64px;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: rem(64px);
  border-radius: rem(8px);
  background: var(--color-black);
  color: var(--color-white);
}

.table-tr {
  border: none;
}

.tableBody {
  white-space: nowrap;
}

.closeButton {
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, rgba(98, 95, 244, 0.16) 0%, rgba(98, 95, 248, 0.16) 100%);
  border-radius: 4px;
}

.noRecords {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.tableTdNoRecords {
  height: auto !important;
  & svg {
    width: auto !important;
    height: auto !important;
  }
}

.table-td {
  height: 1px;

  & svg {
    width: rem(29);
    height: rem(29);
  }
}

.first-td-wrapper {
  & svg {
    width: rem(29);
    height: rem(29);
  }
}

.table-head {
  --_table-border-color: rgba(255, 255, 255, 0.07) !important;

  & tr {
    height: 19px;
    border-bottom: var(--_tr-border-bottom);

    /*&[data-with-row-border] {
      --_tr-border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }*/

    & th {
      color: var(--color-grey);
    }

    &:first-child {
      & th {
        &:first-child {
          padding-left: rem(16);
        }
      }
    }
  }
}

.table-head-sort-label {
  cursor: pointer;
  user-select: none;

  & svg {
    @mixin transition;

    & path {
      @mixin transition;
    }
  }

  @mixin hover {
    & svg {
      & path {
        fill: var(--color-blue);
      }
    }
  }
}

.table-head-sort-label-sorting-desc {
  & svg {
    transform: rotate(180deg);
  }
}

.grey-text {
  @mixin textGrey;
}

.rates-divider-root {
  --divider-color: rgba(255, 255, 255, 0.12);
}

.search-input {
  --input-padding-y: 0;
  --_input-padding-left: rem(43);
  --_input-padding-right: rem(16);

  @mixin text-5-full;

  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  border-radius: 4px;

  &::placeholder {
    color: var(--color-grey) !important;
    font-size: var(--text-5-fz) !important;
  }
}

.plAmount {
  color: rgba(14, 203, 123, 1) !important;
}

.search-input-wrapper {
  min-width: rem(300px);
}

@media (max-width: 1200px) {
  .box {
    padding: 2rem 1.25rem;
  }
  table {
    min-width: 480px;
  }
  .table-container {
    overflow-x: scroll;
  }
  .box > div:first-child {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
  }
  .box > div:first-child > div {
    width: 100%;
  }
  .table-head-sort-label span {
    font-size: 14px;
  }
  .table-head-sort-label {
    grid-gap: 0;
    flex-wrap: nowrap;
  }
  .table-td {
    width: auto !important;
  }
  .table-td:first-child h4 {
    font-size: 20px;
  }
  .table-td svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .table-td {
    padding: 0.75rem 0.25rem !important;
  }
  .table-tr th {
    padding: 1rem 0 !important;
  }
  .table-td span {
    font-size: 1rem;
  }
}

.linkButton {
  color: var(--color-blue);
  background: transparent !important;
  border: none;
  text-decoration: underline;
}
