@import url("@/app/styles/mixin.css");

.top-rate {
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: var(--color-black);
  border-radius: rem(8px);
  overflow: hidden;
}

.top-rate-header {
  padding: rem(24px) rem(24px) 0 rem(24px);
}

.top-rate-sub-title {
  padding: rem(4) rem(12);
  background: var(--gradient-linear);
  box-shadow: 0px 0px 16px 0px rgba(98, 95, 244, 0.32);
  @mixin light {
    --_pill-bg: var(--color-white) !important;
    --pill-radius: rem(3px) !important;
  }
}

.top-rate-sub-title-label {
  @mixin text-5-full;
  font-size: 12px;
}

.divider-root {
  @mixin light {
    --_divider-color: rgba(255, 255, 255, 0.12) !important;
  }
  opacity: 0.12;
}

.top-rate-chart-wrapper {
  width: 100%;
  height: rem(110px);
  position: relative;
}

.icon-wrap {
  width: 52px;
  height: 52px;
  svg {
    width: 100%;
    height: 100%;
  }
}

.positive {
  color: var(--color-green);
}

.negative {
  color: var(--color-red);
}

@media (max-width: 900px) {
  .top-rate-header {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 0.5rem;
    justify-content: initial;
    padding: 1.25rem 1.25rem 0 1.25rem;
  }
  .icon-wrap {
    width: 3rem;
    height: 3rem;
  }
  .top-rate-footer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .top-rate-footer p {
    font-size: 1.125rem;
  }
}

@media (max-width: 470px) {
  .top-rate-header {
    padding: 12px 12px 0 12px !important;
  }
  .top-rate-chart-wrapper {
    height: auto !important;
  }
  .top-rate-chart-wrapper > div {
    width: 100% !important;
    max-width: 100% !important;
    height: 60px !important;
  }
  .top-rate-sub-title {
    padding: 2px 4px;
  }
  .icon-wrap {
    width: 2rem;
    height: 2rem;
  }
}

.zero {
  color: var(--color-blue);
}
