.bot-wrapper {
  border: 3px dashed;
  border-radius: rem(3);
  padding: rem(16px);

  &.inactive {
    border-color: rgb(255 255 255 / 12%);
    background: var(--color-black);
  }

  &:hover,
  .active {
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.04) inset;
    border-color: var(--color-blue);
    background: linear-gradient(313.06deg, rgba(98, 95, 244, 0.2) 6.43%, rgba(12, 13, 16, 0.2) 99.25%);
  }

  .botTitle {
    color: var(--color-blue) !important;
    width: 177px;

    &.long {
      width: 250px;
    }
  }
}

.botInfoText {
  font-size: rem(15);
  line-height: 19px;
  font-weight: var(--font-weight-regular);
  color: var(--color-white);

  &.scalpingBotInfo {
    line-height: 17.2px;
  }
}

.botBenefitContainer {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 3px;

  .botInfoText {
    line-height: 18.27px;
  }
}

@media screen and (max-width: 75em) {
  .bot-wrapper {
    .botTitle:not(.long) {
      width: 150px;
    }
  }

  /* .botInfoText {
    &.scalpingBotInfo {
      font-size: 14px;
    }
  } */
}

@media screen and (max-width: 45em) {
  .bot-wrapper {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 500px) {
  .bot-wrapper {
    &.inactive {
      height: 330px !important;
    }
  }
}
