@import url("@/app/styles/mixin.css");

.content-wrapper {
  flex: 1;
  padding: rem(96) rem(165);
  position: relative;
  min-height: 880px;
}

.form-wrapper {
  width: rem(600px);
}

.form {
  width: 100%;
  max-width: rem(600);
}

.z-index {
  z-index: 10;
}

.grey-text {
  @mixin textGrey;
}

.blue-text {
  @mixin textLinearGradient;
}

.light-left {
  bottom: 0;
  left: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-right {
  bottom: 0;
  right: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

@media (max-width: 1200px) {
  .content-wrapper {
    padding: 2rem 1rem;
    align-items: center;
    min-height: 500px;
  }
  .btn span {
    font-size: 1.125rem;
  }
  .btn {
    height: 78px;
  }
  .btn svg {
    width: 22px;
    height: 22px;
  }
}
