@import url("@/app/styles/mixin.css");

.light-one {
  top: 0;
  width: auto;
  right: 0;
  z-index: -1;
  position: absolute;
}

.light-two {
  top: 0;
  left: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-three {
  top: rem(75);
  right: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-four {
  top: 58%;
  left: 0;
  width: auto;
  z-index: -1;
  position: absolute;
}

.light-five {
  right: 0;
  bottom: -38%;
  width: auto;
  z-index: -1;
  position: absolute;
}

/* .flex-container {
  align-items: inherit;
} */

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
}
