@import url("@/app/styles/mixin.css");

.show-filter-wrapper {
  cursor: pointer;
  padding: 7px 19px 7px 20px;
  border: var(--border1);
  border-radius: 4px;
  /* min-width: 97px; */
  width: 110px;
  white-space: nowrap;
  @mixin transition;

  & svg {
    width: 17px;
    height: 17px;
    & path {
      @mixin transition;
    }
  }

  &:hover,
  &[data-expanded="true"] {
    & svg {
      & path {
        fill: var(--color-blue);
      }
    }
  }
  &.active {
    border-color: var(--color-blue);
  }
}

.dropdown {
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding: rem(16);
  background-color: var(--color-black) !important;
  box-shadow: 0px 0px 50px 0px rgba(12, 13, 16, 0.5);
  border-radius: 4px;
  white-space: nowrap;
}

.dropdown-options {
  gap: rem(16);
  display: flex;
  flex-direction: column;
}

.dropdown-option {
  @mixin text-3-full;
  @mixin transition;
  padding: 0;
  font-size: 14px;

  @mixin hover {
    --text-color: var(--color-grey);
    background: transparent;
  }

  &.dropdown-option-selected {
    --text-color: var(--color-blue);
  }
}
.greyText {
  color: var(--color-grey);
  font-family: "ProximaNova";
  font-size: 14px;
  line-height: 1.2;
}
