.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--adaptive-section-py) 0;
  gap: 32px;
}

.flex {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1360px) {
  .flex {
    flex-direction: column;
  }
  .flex > div:nth-child(2) {
    width: 100%;
    padding: 2rem 1.25rem;
  }
}
