.title {
  font-family: "CraftworkGrotesk";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: var(--color-white);
}

.counter-wrap {
  padding: 23px 27px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  box-shadow: inset 0px 0px 12px 0px rgba(108, 112, 128, 0.04);
  /* Black BG */
  background: rgb(8, 8, 8);
}

.counterButton {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-basis: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: none;
  font-family: "ProximaNova";
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--color-blue);
  border-color: var(-color-blue);
}

.count {
  color: var(--color-grey);
  font-family: "CraftworkGrotesk";
  font-size: 18px;
  font-weight: 500;
  height: 22px;
  line-height: 22px;
  flex: 1;
  text-align: center;
}

.input {
  flex: 1;
  height: 22px;
  input {
    min-height: 0;
    height: 22px;
    line-height: 22px;

    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
    padding: 0;
    color: var(--color-grey);
    font-family: "CraftworkGrotesk";
    font-size: 18px;
    font-weight: 500;
  }
}
