@import url("@/app/styles/mixin.css");
.container {
  flex: 1;
}
.search-input {
  min-height: rem(51px) !important;
  @mixin text-5;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: none;
  border-radius: rem(4px);
  padding: 0 0 0 rem(45px);
  background-color: transparent;

  &::placeholder {
    color: var(--color-grey) !important;
    font-size: var(--text-5-fz) !important;
  }
}

.coinIcon {
  border-radius: 12px;
}

.search-input-wrapper {
  min-height: rem(51px);
  margin-bottom: 8px;
}
.icon {
  padding-left: rem(16px);
}
.wrap-deposit-items {
  gap: rem(8px);
  width: 100%;
  height: rem(731px);
  overflow: auto;
  padding-right: 16px;
  position: relative;
}
.deposit-item {
  border: var(--border1);
  cursor: pointer;
  padding: rem(24px) rem(32px);
  height: rem(72px);
  background: var(--color-black);
  border-radius: rem(8px);
  color: var(--color-white);
}
.deposit-item-active {
  background: linear-gradient(313.06deg, rgba(98, 95, 244, 0.2) 6.43%, rgba(12, 13, 16, 0.2) 99.25%);
  border: none;
  border-left: 2px solid var(--color-blue);
}
.label {
  @mixin text-2-craft-font;
  font-weight: 600;
}
.value {
  color: var(--color-grey);
  @mixin text-5;
}
.active-value {
  @mixin text-5;
  color: var(--color-white);
}

@media screen and (max-width: 1200px) {
  .wrap-deposit-items {
    height: 100% !important;
    overflow: hidden;
  }

  .loadMoreAction {
    padding: 16px 32px;
    height: 54px;
  }

  .deposit-item {
    &.hidden {
      display: none;
    }
    &.shown {
      display: block;
    }
  }
}
