@import url("@/app/styles/mixin.css");

.header {
  max-width: 1340px;
  width: 100%;
  padding: 0 10px;
  margin: rem(32) auto;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  &.headerTradePage {
    max-width: 1450px;
  }
}

.imageBlock {
  width: 100%;
}

.current {
  height: rem(142px);
  padding: rem(38.5px) rem(56px) rem(38.5px) rem(32px);
  border-radius: 8px;
}
.title {
  line-height: var(--text-4-lh);
  font-family: ProximaNova;
  font-size: rem(16px);
  color: #fff;
}
.hide {
  cursor: pointer;
}
.amount {
  font-size: rem(16px);
  line-height: rem(38px) !important;
  font-family: ProximaNova;
  color: #fff;
}
.title-graph {
  color: var(--color-grey);
  font-size: rem(14px);
  line-height: rem(17px) !important;
}
.amount-graph {
  font-size: var(--text-3-fz);
  line-height: rem(21.92px) !important;
  font-weight: 600;
}
.graph {
  width: 249px;
  overflow: hidden;
  /*@media (max-width: 1690px) {*/
  /*  width: 249px;*/
  /*}*/
  /*@media (max-width: 1590px) {*/
  /*  width: 249px;*/
  /*}*/
  /*@media (max-width: 1490px) {*/
  /*  width: 249px;*/
  /*}*/
}

.logo-links-root {
  background: transparent;
  --group-gap: rem(16) !important;
  /*@media (max-width: 1600px) {*/
  /*  --group-gap: rem(16) !important;*/
  /*}*/
}

.logo-links-root [role="separator"] {
  color: var(--color-grey) !important;
  --divider-color: var(--color-grey);
}

.links-root {
  background: transparent;
  --group-gap: rem(16) !important;
  /*@media (max-width: 1600px) {*/
  /*  --group-gap: rem(16) !important;*/
  /*}*/
}

.divider-root {
  @mixin light {
    --_divider-color: var(--color-grey);
  }
}

.dropdown-divider-root {
  border-color: rgba(255, 255, 255, 0.12);
  @mixin light {
    --_divider-color: rgba(255, 255, 255, 0.12);
  }
}

.link,
.menu-target {
  color: var(--color-white);
  cursor: pointer;
  text-decoration: none;

  @mixin transition;

  & svg {
    & path {
      @mixin transition;
    }
  }

  &:hover,
  &.link-active {
    @mixin transition;

    & svg {
      & path {
        fill: var(--color-blue);
      }
    }

    & :local(.link-label) {
      color: var(--color-blue);
      text-shadow: 0 2px 8px rgba(98, 95, 244, 0.64);
    }
  }
}

.link-label {
  @mixin transition;
}

.dropdown {
  --_popover-bg: var(--color-black) !important;

  color: var(--color-white);
  border: 1px solid rgb(255 255 255 / 12%) !important;
  padding: rem(31) !important;
  background: var(--color-black) !important;
  width: 335px !important;
}

.menu-item {
  padding: 0;
  background: transparent;
  @mixin transition;

  &:last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }

  &:first-child {
    padding-top: 0 !important;
  }

  &:hover {
    .menu-item-label {
      color: var(--color-blue);
      text-shadow: 0 2px 8px rgba(98, 95, 244, 0.64);
    }

    .menu-item-section {
      svg path {
        fill: white !important;
      }
    }
  }
}

.menu-item-label {
  @mixin text-4;
  @mixin transition;
  color: var(--color-white);
  font-size: var(--text-fz);
  line-height: var(--_text-line-height);
}

.menuSubtitle {
  font-size: 14px;
  line-height: 1.2;
  font-family: "ProximaNova";
  color: var(--color-grey);
}

.menu-item-section {
  padding: rem(4);
  background: var(--gradient-linear);
  box-shadow: 0px 4px 16px 0px rgba(98, 95, 244, 0.32);
  border-radius: 4px;
  margin-right: 12px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.sign-in-button-root {
  --button-padding-x: 0 !important;

  @mixin text-3-full;
  @mixin transition;

  @mixin hover {
    color: var(--color-blue);
  }
}

.sign-up-button-root {
  /*box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.25) inset, 0px -2px 2px 0px rgba(12, 13, 16, 0.25) inset, 0px 0px 1px 4px rgba(255, 255, 255, 0.05), 0px 0px 32px 0px rgba(98, 95, 244, 0.32) !important;
  @mixin hover {
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.30) inset, 0px -4px 4px 0px rgba(12, 13, 16, 0.30) inset, 0px 0px 1px 4px rgba(255, 255, 255, 0.08), 0px 0px 48px 0px rgba(98, 95, 244, 0.48) !important;
  }*/
}

@media (max-width: 1200px) {
  .mob-button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  .mob-header-row {
    padding: 1.75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
