.calculationsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 0;

  .profitMain {
    .profit {
      display: inline;
      font-size: 40px !important;
      font-weight: 600 !important;
    }
  }
}
.chartTable {
  min-height: 512px;
  gap: 27px;
}

@media screen and (max-width: 834px) {
  .calculationsWrapper {
    gap: 24px;

    .profitMain {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .chartTable {
    min-height: 299px;
  }
}
