.mainTitle {
  z-index: 10;
  font-weight: 700 !important;
  text-align: center;
  color: var(--color-blue);
  font-size: 54px;
}

.subTitle {
  font-size: inherit !important;
  font-style: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  color: white !important;
  padding-left: 12px;
}

@media screen and (max-width: 48em) {
  .mainTitle {
    font-size: 35px;
    line-height: 42px;
  }
}
